<button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
    show = {{show}}
    <br>
    <div *ngIf="show">Text to show</div> 
    <br><br>
    <br>    
    <ag-grid-angular 
      #agGrid style="width: 100%; height: 100%;" 
      class="ag-theme-balham" 
      [gridOptions]="gridVehicleGroupOptions"
      [rowData]="rowData" 
      [enableSorting]="true" 
      [enableFilter]="true"
      [localeText]="getEmptyRowMessage()">
  </ag-grid-angular>
<router-outlet></router-outlet>
